body,
section,
article,
header,
nav,
div,
aside,
footer {
	display: block;
}
*{
	margin: 0;
	padding: 0;
}
.side-nav{
	height: 100%;
    width: 100px;
    background: beige;
    float: left;
}
.right-side{
	height: 100%;
    width: calc(100% - 100px);
    float: right;
    background: aquamarine;
}